# Environmetal
/.env

# IDE
/.idea

# Mailing Service
/api/Mailing/bin
/api/Mailing/obj
/api/Mailing/.idea

# Shop Service
/api/Shop/bin
/api/Shop/obj
/api/Shop/.idea

# Auth Service
/api/Auth/bin
/api/Auth/obj
/api/Auth/.idea

# Shop Application
/app/shop/.idea
/app/shop/node_modules
/app/shop/.pnp
/app/shop/.pnp.js
/app/shop/.yarn/install-state.gz
/app/shop/coverage
/app/shop/.next/
/app/shop/out/
/app/shop/build
/app/shop/.DS_Store
/app/shop/*.pem
/app/shop/npm-debug.log*
/app/shop/yarn-debug.log*
/app/shop/yarn-error.log*
/app/shop/.env*.local
/app/shop/.vercel
/app/shop/*.tsbuildinfo
/app/shop/next-env.d.ts
