!.gitkeep
/.env
/.idea
/api/_shared/.idea
/api/auth/.idea
/api/shop/.idea
/app/shop/.idea
/api/shop/images/products/*
/app/shop/node_modules
/app/shop/.pnp
/app/shop/.pnp.js
/app/shop/.yarn/install-state.gz
/app/shop/coverage
/app/shop/.next/
/app/shop/out/
/app/shop/build
/app/shop/.DS_Store
/app/shop/*.pem
/app/shop/npm-debug.log*
/app/shop/yarn-debug.log*
/app/shop/yarn-error.log*
/app/shop/.env*.local
/app/shop/.vercel
/app/shop/*.tsbuildinfo
/app/shop/next-env.d.ts
/app/admin/.idea
/app/admin/node_modules
/app/admin/.pnp
/app/admin/.pnp.js
/app/admin/.yarn/install-state.gz
/app/admin/coverage
/app/admin/.next/
/app/admin/out/
/app/admin/build
/app/admin/.DS_Store
/app/admin/*.pem
/app/admin/npm-debug.log*
/app/admin/yarn-debug.log*
/app/admin/yarn-error.log*
/app/admin/.env*.local
/app/admin/.vercel
/app/admin/*.tsbuildinfo
/app/admin/next-env.d.ts
/app/_shared/.idea
/app/_shared/node_modules
/app/_shared/.pnp
/app/_shared/.pnp.js
/app/_shared/.yarn/install-state.gz
/app/_shared/coverage
/app/_shared/.next/
/app/_shared/out/
/app/_shared/build
/app/_shared/.DS_Store
/app/_shared/*.pem
/app/_shared/npm-debug.log*
/app/_shared/yarn-debug.log*
/app/_shared/yarn-error.log*
/app/_shared/.env*.local
/app/_shared/.vercel
/app/_shared/*.tsbuildinfo
/app/_shared/next-env.d.ts
/cli/.idea
__pycache__