@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #22222200;
}

::-webkit-scrollbar-thumb {
    background: #131313aa;
}

::-webkit-scrollbar-thumb:hover {
    background: #131313cc;
}